.additional-goods__wrapper {
  margin-top: 29px;
  padding-bottom: 35px;
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 22px;
  padding-bottom: 33px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  background-color: #ffffff;
}

.additional-goods__list {
  @include reset-list();
  margin-bottom: 40px;
}

.additional-goods__item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-goods__heading {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-main;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark;
}

.additional-goods__info {
  width: 100%;
  margin-bottom: 14px;
  line-height: 14px;
  font-family: $font-text;
  border-collapse: collapse;
}

.additional-goods__info td {
  padding: 0;
}

.additional-goods__price {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional-goods__wrapper {
    margin-top: 0;
    padding-bottom: 76px;
  }

  .additional-goods__title {
    margin-left: 0;
    margin-bottom: 79px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__list {
    margin-bottom: 70px;
  }

  .additional-goods__item {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 36px 27px 37px;
    justify-content: space-between;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .additional-goods__heading {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__info {
    width: 287px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__volume {
    width: 192px;
    text-align: right;
  }

  .additional-goods__price {
    width: 95px;
  }

  .additional-goods__button {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 85px;
  }

  .additional-goods__title {
    margin-left: -40px;
    padding-left: 40px;
  }

  .additional-goods__list {
    width: 895px;
    margin-bottom: 0;
  }

  .additional-goods__item {
    padding: 15px 0 16px 0;
    align-items: center;
    border-right: none;
    border-left: none;
  }

  .additional-goods__info {
    width: 325px;
    margin-left: auto;
  }

  .additional-goods__volume {
    width: 245px;
    text-align: left;
  }

  .additional-goods__price {
    width: 80px;
    text-align: left;
  }

  .additional-goods__button {
    width: 245px;
    margin: 0;
  }
}
