.additional-goods__wrapper {
  margin-top: 29px;
  padding-bottom: 35px;
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 22px;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  padding-bottom: 34px;
}

.additional-goods__list {
  @include reset-list();
}

.additional-goods__item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;
}

.additional-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $dark;
}

.additional-goods__info {
  width: 100%;
  margin-bottom: 14px;
  line-height: 14px;
  font-family: $font-text;
}

.additional-goods__info td {
  padding: 0;
}

.additional-goods__price {
  text-align: right;
}

.additional-goods__gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-green;
  min-height: 289px;
  margin-top: 39px;
  padding: 65px 55px 43px 55px;
  box-sizing: border-box;
}

.additional-goods__gift::before {
  content: "";
  width: 55px;
  height: 60px;
  background: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.additional-goods__gift-text {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: $font-text;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-goods::after {
    top: 30px;
  }

  .additional-goods__wrapper {
    margin-top: 0;
    padding-bottom: 75px;
    padding-top: 9px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 37px;
    padding-right: 35px;
  }

  .additional-goods__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 24px 36px 27px 37px;
  }

  .additional-goods__heading {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__info {
    width: 287px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__volume {
    width: 192px;
    text-align: right;
  }

  .additional-goods__price {
    width: 95px;
  }

  .additional-goods__button {
    margin-top: 8px;
  }

  .additional-goods__gift {
    width: 100%;
    margin-top: 67px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: top center;
    flex-direction: row;
    padding: 60px 120px 70px 90px;
    min-height: 200px;
  }

  .additional-goods__gift-text {
    padding-top: 10px;
    width: 165px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods::after {
    top: 35px;
  }

  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 85px;
  }

  .additional-goods__title {
    margin-left: -40px;
    padding-left: 40px;
  }

  .additional-goods__list {
    width: 895px;
  }

  .additional-goods__item {
    padding: 14px 0 15px 0;
    border-right: none;
    border-left: none;
    justify-content: flex-end;
    align-items: center;
  }

  .additional-goods__heading {
    margin-top: 10px;
    margin-right: auto;
  }

  .additional-goods__info {
    margin-top: 11px;
    margin-bottom: 0;
    width: 325px;
  }

  .additional-goods__volume {
    width: 245px;
    text-align: left;
  }

  .additional-goods__price {
    width: 80px;
    text-align: left;
  }

  .additional-goods__button {
    width: 245px;
    margin: 0;
  }

  .additional-goods__gift {
    width: 245px;
    flex-direction: column;
    min-height: 289px;
    margin-top: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 42px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .additional-goods__gift-text {
    text-align: center;
  }
}
