.catalog__wrapper {
  padding: 15px 0 0 0;
}

.catalog__title {
  margin-bottom: 28px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: 58px 30px 8px;
  }

  .catalog__title {
    margin-bottom: 83px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding-top: 75px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 14px;
  }
}
