.contacts__info {
  @include container-mobile();
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 24px;
}

.contacts__title {
  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-main;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;
  line-height: 20px;
  font-family: $font-text;
}

.contacts__map {
  display: block;
  width: 320px;
  margin: 0 auto;
  height: 362px;
}
