.contacts__info {
  @include container-mobile();
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 19px;
}

.contacts__title {
  width: 140px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.contacts__address {
  width: 140px;
}
