.example-info {
  padding-right: 20px;
  padding-left: 20px;
}

.example-info__title {
  padding-bottom: 23px;
}

.example-info__text {
  margin: 0;
  padding-right: 1px;
  margin-bottom: 27px;
  font-family: $font-text;
}

.example-info__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-info__item {
  width: calc(50% - 16px);
  margin-bottom: 10px;
  text-align: center;
}

.example-info__value {
  margin: 0;
  padding: 0 20px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
  color: $dark;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-info__desc {
  margin: 0 10px;
  display: inline-block;
  transform: translateY(-10px);
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-text;
  background-color: $grey;
}

.example-info__costs {
  margin: 0;
  margin-bottom: 35px;
  line-height: 20px;
  text-align: center;
  color: $dark;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 59px;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example-info__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .example-info__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    margin-bottom: 54px;
  }

  .example-info__stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .example-info__list {
    width: calc(50% + 12px);
  }

  .example-info__item {
    width: calc(50% - 21px);
  }

  .example-info__value {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 18px;
  }

  .example-info__desc {
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-top: -7px;
  }

  .example-info__costs {
    width: 192px;
    padding-top: 11px;
    text-align: right;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .example-info__sum {
    display: inline-block;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example-info {
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 67px;
    margin-bottom: 0;
    width: 505px;
  }

  .example-info__title {
    margin-bottom: 145px;
    padding-bottom: 0;
  }

  .example-info__text {
    margin-bottom: 68px;
  }

  .example-info__stats {
    flex-direction: column;
    width: 366px;
  }

  .example-info__list {
    width: auto;
    margin-bottom: 32px;
  }

  .example-info__desc {
    background-color: $grey;
  }

  .example-info__costs {
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .example-info__sum {
    display: inline-block;
    margin-top: 0;
    margin-left: 60px;
  }
}
