.example-slider {
  width: 320px;
  margin: 0 auto;
}

.example-slider__img {
  margin-bottom: 15px;
}

.example-slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-slider__btn {
  padding: 15px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $dark;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.example-slider__range {
  position: relative;
}

.example-slider__scale {
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example-slider__scale-btn {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 4px;
  left: 6px;
  background-color: $accent-color;
  border: 0;
  border-radius: 3px;
}

.example-slider__img--after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example-slider {
    width: 690px;
    margin: 0 auto;
  }
  .example-slider__img {
    width: 690px;
    height: 517px;
  }

  .example-slider__btn {
    font-size: 20px;
    line-height: 20px;
  }

  .example-slider__scale {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin-right: 20px;
    margin-left: 20px;
  }

  .example-slider__scale-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -17px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(#000000, 0.15);
  }
  .example-slider__scale-btn::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $accent-color;
  }
}
