.features__wrapper {
  padding-top: 17px;
  padding-bottom: 22px;
}

.features__title {
  margin-bottom: 28px;
}

.features__list {
  @include reset-list();
}

.features__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: static;
    display: block;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--form::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--food::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--profit::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.features__item-text {
  font-family: $font-text;
  margin: 0;
}

.features__item-text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    border-bottom: 1px solid #e6e6e6;
  }

  .features__wrapper {
    padding-top: 45px;
    padding-bottom: 0;
  }

  .features__title {
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 60px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 13px;
  }

  .features__item {
    display: block;
    width: 324px;
    min-height: 230px;
    counter-increment: number;
    margin-top: 43px;
    margin-bottom: 44px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      content: counter(number) "";
      position: absolute;
      top: -15px;
      left: 120px;
      z-index: -1;
      color: #f2f2f2;
      font-size: 281px;
      line-height: 233px;
    }

    &--health::after {
      top: -15px;
      left: 118px;
    }

    &--form::after {
      top: -15px;
      left: 111px;
    }

    &--food::after {
      top: -15px;
      left: 113px;
    }

    &--profit::after {
      top: -15px;
      left: 113px;
    }
  }

  .features__item-text {
    padding-right: 79px;
    font-size: 16px;
    line-height: 24px;
  }

  .features__item-text br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features {
    border: 0;
  }

  .features__wrapper {
    padding-top: 75px;
  }

  .features__title {
    margin-bottom: 71px;
  }

  .features__item {
    width: 245px;
    margin: 0;
  }

  .features__item-text {
    padding-right: 0;
  }
}
