.form__wrapper {
  padding: 0;
}

.form__block {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 33px;
  color: $dark;
  background-color: #ffffff;
}

.form__list {
  @include reset-list();
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__label {
  position: relative;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  display: block;
  flex-shrink: 0;
}

.form__input  {
  width: 100%;
  height: 45px;
  padding: 12px 13px 12px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: $grey-dark;
  border: 1px solid rgba(#cdcdcd, 0.5);
}

// info

.form__block--info {
  padding-left: 20px;
  padding-right: 20px;
}

.form__info-input {
  margin-bottom: 20px;
}

// program

.form__list--program {
  border: 1px solid #ededed;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  margin-bottom: 29px;
}

.form__label--program {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.form__item--program:last-child {
  margin: 0;
}

.form__label--program::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  padding: 8px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.form__input-program:checked + .form__label--program::before {
  background-color: $accent-color;
  background-clip: content-box;
}

// contacts

.form__block--contacts {
  margin-bottom: 15px;
}

.form__input--contacts {
  padding-left: 10px;
  padding-right: 35px;
}

.form__input--contacts-email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 182px center;
  background-size: 16px auto;
}

.form__input--contacts-phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 165px center;
  background-size: 21px auto;
}

// coment

.form__block--coment {
  margin-bottom: 30px;
}

.form__textarea {
  width: 100%;
  display: block;
  min-height: 150px;
  padding: 13px 12px 13px 14px;
  font-family: $font-main;
  color: $grey-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  resize: none;
}

// additionally

.form__block--additionally {
  margin-bottom: 23px;
}

.form__additionally--title {
  margin-bottom: 33px;
}

.form__label--additionally {
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.form__label--additionally::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  padding: 6px 3px 6px 4px;
  border: 1px solid #cdcdcd;
}

.form__input-additionally:checked + .form__label--additionally::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

.form__button {
  margin-bottom: 20px;
}

.form__required-text {
  display: block;
  text-align: center;
  font-family: $font-text;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    padding: 0 30px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 75px;
  }

  .form__list  {
    padding-right: 38px;
    padding-left: 41px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;
    padding: 25px 20px;
  }

  // info

  .form__block--info {
    padding: 0;
    margin-bottom: 50px;
  }

  // program

  .form__block--program {
    padding-right: 38px;
    padding-left: 41px;
  }

  .form__list--program {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 78px;
  }

  .form__item--program {
    margin-bottom: 13px;
  }

  .form__label--program {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
  }

  .form__label--program::before {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  // contacts

  .form__block--contacts {
    margin-bottom: 46px;
  }

  .form__contacts--title br {
    display: none;
  }

  .form__input--contacts-email {
    background-position: 515px, center;
  }

  .form__input--contacts-phone {
    background-position: 495px center;
  }

  // coment

  .form__block--coment {
    margin-bottom: 67px;
  }

  .form__coment-wrapper {
    padding-right: 38px;
    padding-left: 41px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 20px;
    min-height: 174px;
    padding: 15px 18px;
  }

  // additionally

  .form__additionally--title {
    margin-bottom: 56px;
  }

  .form__list--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--additionally {
    width: 286px;
    margin-bottom: 31px;
  }

  .form__label--additionally {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 58px;
  }

  .form__label--additionally::before {
    width: 40px;
    height: 40px;
    padding: 11px 8px 11px 9px;
  }

  .form_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41px;
    padding-right: 39px;
  }

  .form__button {
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .form__required-text {
    width: 284px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    padding-right: 0;
    padding-left: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 50px;
  }

  .form__title {
    margin-left: -40px;
  }

  // info

  .form__block--info {
    width: 570px;
    margin-bottom: 0;
  }

  .form__list--info {
    padding: 0;
  }

  // program

  .form__block--program {
    width: 570px;
    padding: 0;
  }

  .form__list--program {
    margin-bottom: 0px;
    padding-right: 27px;
    padding-left: 27px;
  }

  .form__input--contacts-email {
    background-position: 456px 22px;
  }

  .form__input--contacts-phone {
    background-position: 432px 18px;
  }

  // contacts

  .form__block--contacts {
    width: 100%;
    margin-bottom: 50px;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__item--contacts {
    width: 570px;
  }

  // coment

  .form__coment-wrapper {
    padding: 0;
  }

  .form__block--additionally {
    width: 100%;
    margin-bottom: 29px;
  }

  .form__item--additionally {
    width: 245px;
  }

  .form_submit {
    padding: 0;
  }

  .form__button {
    width: 570px;
  }

  .form__required-text {
    width: 570px;
  }
}
