.form__block {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.form__block::after {
  position: absolute;
  top: 13px;
  width: 100%;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}

.form__title {
  max-width: 242px;
  font-size: 24px;
  line-height: 24px;
  color: $dark;
  background-color: #ffffff;
  margin-left: -20px;
  padding-left: 40px;
  padding-right: 20px;
}

.form__list {
  @include reset-list();
  padding: 0 20px;
  padding-right: 20px;
  padding-left: 20px;
}

// info

.form__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__info-label {
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  flex-shrink: 0;
}

.form__info-input {
  width: 100%;
  height: 45px;
  padding: 12px 13px 12px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: $grey-dark;
  border: 1px solid rgba(#cdcdcd, 0.5);
}

// program
.form__list--program {
  padding-top: 29px;
  padding-bottom: 20px;
  border: 1px solid #ededed;
}

.form__program-item {
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 7px;
  margin-bottom: 12px;
}

.form__program-item:last-child {
  margin: 0;
}

.form__program-label {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form__program-label::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  padding: 8px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.form__program-input:checked + .form__program-label::before {
  background-color: $accent-color;
  background-clip: content-box;
}

// contacts

.form__block--contacts {
  margin-top: 29px;
}

.form__block--contacts::after {
  content: "";
}

.form__contacts--title {
  margin-bottom: 33px;
  padding-left: 40px;
}

.form__contacts-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__contacts-label {
  flex-shrink: 0;
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__contacts-input {
  width: 100%;
  padding: 12px 15px 12px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: $grey-dark;
  background-color: #ffffff;
  border: 1px solid rgba(#cdcdcd, 0.5);
  box-sizing: border-box;
  padding-right: 35px;
}

.form__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 185px center;
  background-size: 18px auto;
}

.form__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 170px center;
  background-size: 21px auto;
}

// coment

.form__block--coment {
  padding-top: 15px;
  position: relative;
}

.form__block--coment::after {
  content: "";
  top: 28px;
}

.form__coment-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  min-height: 150px;
  margin: 0;
  padding: 13px 12px 13px 14px;
  font-family: $font-main;
  color: $grey-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
}

// additionally

.form__block--additionally {
  margin-bottom: 33px;
}

.form__block--additionally::after {
  content: "";
}

.form__additionally--title {
  margin-bottom: 27px;
}

.form__additionally-label {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: #222222;
}

.form__additionally-label::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  width: 30px;
  height: 30px;
  padding: 6px 3px 6px 4px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.form__additionally-input:checked + .form__additionally-label::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px auto;
  background-clip: content-box;
}

.form_submit {
  padding-right: 20px;
  padding-left: 20px;
}

.form__button {
  margin-bottom: 22px;
  font: inherit;
  font-size: 16px;
}

.form__required-text {
  display: block;
  text-align: center;
  font-family: $font-text;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
    max-width: max-content;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__list {
    padding-right: 68px;
    padding-left: 71px;
  }

  // info

  .form__block--info {
    margin-bottom: 51px;
  }

  .form__info-item {
    margin-bottom: 20px;
  }

  .form__info-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__info-input {
    font-size: 20px;
    line-height: 20px;
    padding: 25px 20px;
  }

  // program

  .form__block--program {
    margin-bottom: 80px;
    padding-right: 68px;
    padding-left: 71px;
  }

  .form__list--program {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .form__program-item {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 59px;
    margin-bottom: 14px;
  }

  .form__program-item:last-child {
    margin-bottom: 0;
  }

  .form__program-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__program-label::before {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  // contacts

  .form__block--contacts {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .form__block--contacts::after {
    top: 22px;
  }

  .form__contacts--title {
    margin-bottom: 75px;
  }

  .form__contacts-list {
    margin-bottom: 70px;
  }

  .form__contacts-item {
    margin-bottom: 20px;
  }

  .form__contacts-label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 19px;
  }

  .form__contacts-input {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 20px;
  }

  // coment

  .form__block--coment {
    margin-bottom: 64px;
  }

  .form__block--coment::after {
    top: 38px;
  }

  .form__coment-wrapper {
    margin-top: 76px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 20px;
    min-height: 174px;
    padding-left: 18px;
  }

  // additionally

  .form__block--additionally {
    margin-bottom: 39px;
  }

  .form__block--additionally::after {
    top: 21px;
  }

  .form__additionally--title {
    margin-bottom: 41px;
  }

  .form__list--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__additionally-item {
    width: 286px;
  }

  .form__additionally-label {
    font-size: 20px;
    line-height: 20px;
    padding-top: 25px;
    padding-left: 58px;
    padding-bottom: 26px;
  }

  .form__additionally-label::before {
    top: 16px;
    width: 40px;
    height: 40px;
    padding: 11px 8px 11px 9px;
  }

  .form_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
  }

  .form__button {
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .form__required-text {
    width: 284px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    padding-right: 60px;
    padding-left: 60px;
  }

  .form__list {
    padding: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 48px;
  }

  .form__block--info {
    width: 570px;
    margin: 0;
  }

  .form__block--program {
    width: 570px;
    padding: 0;
    margin: 0;
  }

  .form__list--program {
    padding: 25px;
    padding-left: 27px;
  }


  .form__block--contacts {
    width: 100%;
  }

  .form__contacts-list {
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-item {
    width: 570px;
  }

  .form__block--coment {
    width: 100%;
  }

  .form__block--additionally {
    width: 100%;
  }

  .form_submit {
    width: 100%;
  }

  .form__button {
    width: 570px;
  }

  .form__required-text {
    width: 570px;
  }
}
