.form__wrapper {
  padding: 0;
}

.form__block {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.form__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 33px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $dark;
  background-color: #ffffff;
}

.form__list {
  @include reset-list();
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;
  display: block;
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
}

.form__input {
  min-width: 150px;
  flex-grow: 1;
  padding: 12px 13px 13px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: $grey-dark;
  border: 1px solid rgba(#cdcdcd, 0.5);

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #212735;
    box-shadow: inset 0 0 0 1px #212735;
    outline: none;
  }
}

.form--required {
  border: 1px solid #ff8282;
  box-shadow: inset 0 0 0 1px #ff8282;

  &:hover {
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }

  &:focus {
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }
}

.form__icon {
  position: absolute;
  fill: #222222;
}

.form__input:focus + .form__icon {
  fill: $accent-color;
}

.form--required + .form__icon {
  fill: #ff8282;
}

.form--required:focus + .form__icon {
  fill: #ff8282;
}

// info

.form__block--info {
  margin-bottom: 25px;
  padding-left: 19px;
  padding-right: 20px;
}

.form__label--info-weight {
  margin-right: 18px;
}

.form__label--info-age {
  margin-right: 16px;
}

// program

.form__list--program {
  border: 1px solid #ededed;
  padding: 20px 20px 21px 19px;
}

.form__label--program {
  padding-top: 6px;
  padding-left: 46px;
  padding-bottom: 5px;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    padding: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.form__input-program:checked + .form__label--program::before {
  background-color: $accent-color;
  background-clip: content-box;
}

.form__input-program:focus + .form__label--program::before {
  border-color: #bababa;
}

.form__input-program:not(:disabled) + .form__label--program:hover::before {
  border-color: #bababa;
}
// contacts

.form__title--contacts {
  width: 202px;
}

.form__label--contacts {
  margin-right: 10px;
}

.form__input--contacts {
  padding-right: 35px;
}

.form__icon--email {
  top: calc(50% - 7px);
  right: 15px;
  width: 18px;
  height: 14px;
}

.form__icon--phone {
  top: calc(50% - 10px);
  right: 13px;
  width: 21px;
  height: 21px;
}

// coment

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 13px 12px 13px 14px;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $grey-dark;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  resize: none;
}

.form__textarea::placeholder {
  color: #444444;
}

.form__textarea:hover {
  border-color: #cdcdcd;
}

.form__textarea:focus {
  border-color: #212735;
  box-shadow: inset 0 0 0 1px #212735;
  outline: none;
}

// additionally

.form__block--additionally {
  margin-bottom: 35px;
}

.form__label--additionally {
  padding-top: 6px;
  padding-left: 46px;
  padding-bottom: 5px;
}

.form__label--additionally:active {
  opacity: 0.3;
}

.form__label--additionally::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form__input-additionally:checked + .form__label--additionally::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px auto;
  background-clip: content-box;
}

.form__input-additionally:focus + .form__label--additionally::before,
.form__input-additionally:not(:disabled) + .form__label--additionally:hover::before {
  border-color: #bababa;
}

.form__button {
  margin-bottom: 21px;
}

.form__required-text {
  display: block;
  font-family: $font-text;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    padding: 0 30px;
  }

  .form__title {
    margin-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__list {
    padding-right: 40px;
    padding-left: 40px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
  }

  // info

  .form__block--info {
    padding: 0;
    margin-bottom: 73px;
  }

  // program

  .form__block--program {
    margin-bottom: 75px;
    padding-right: 37px;
    padding-left: 41px;
  }

  .form__list--program {
    padding: 24px 27px 25px 27px;
  }

  .form__item--program {
    margin-bottom: 13px;
  }

  .form__label--program {
    padding-top: 8px;
    padding-left: 60px;
    padding-bottom: 12px;

    &::before {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }

  // contacts

  .form__block--contacts {
    margin-bottom: 66px;
  }

  .form__title--contacts {
    width: auto;
  }

  .form__list--contacts {
    padding-right: 36px;
    padding-left: 40px;
  }

  .form__label--contacts-email {
    margin-right: 20px;
  }

  .form__label--contacts-phone {
    margin-right: 14px;
  }

  .form__icon--email {
    right: 20px;
  }

  .form__icon--phone {
    right: 17px;
  }

  // coment

  .form__block--coment {
    margin-bottom: 66px;
  }

  .form__coment-wrapper {
    padding-right: 38px;
    padding-left: 41px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 20px;
    min-height: 174px;
    padding: 13px 18px;
  }

  // additionally

  .form__block--additionally {
    margin-bottom: 39px;
  }

  .form__title--additionally {
    margin-bottom: 41px;
  }

  .form__list--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--additionally {
    width: calc(50% - 30px);
    margin-top: 16px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  .form__label--additionally {
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 58px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41px;
    padding-right: 39px;
  }

  .form__button {
    width: calc(50% - 31px);
    margin-bottom: 0;
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__required-text {
    width: calc(50% - 30px);
    margin-bottom: 5px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    padding-right: 0;
    padding-left: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 41px;
    margin-bottom: 69px;
  }

  .form__title {
    margin-left: -40px;
  }

  // info

  .form__block--info {
    width: 570px;
    margin: 0;
  }

  // program

  .form__block--program {
    width: 570px;
    padding: 0;
    margin: 0;
  }

  .form__list--program {
    padding-right: 27px;
    padding-left: 27px;
  }

  // contacts

  .form__block--contacts {
    margin-bottom: 68px;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__item--contacts {
    width: 570px;
    margin-bottom: 0;
  }

  // coment

  .form__block--coment {
    margin-bottom: 68px;
  }

  .form__coment-wrapper {
    padding: 0;
  }

  // additionally

  .form__block--additionally {
    margin-bottom: 45px;
  }

  .form__item--additionally {
    width: 245px;
  }

  .form__submit {
    padding: 0;
  }

  .form__button {
    width: 570px;
    padding-left: 22px;
  }

  .form__required-text {
    width: 570px;
  }
}
