.green-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    width: 65%;
    display: block;
    height: 3px;
    right: 0;
    background-color: $accent-color;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .green-line::after {
    top: 21px;
    width: 100%;
  }
}
