.living-example {
  background-color: $grey;
}

.living-example__wrapper {
  padding-top: 18px;
  padding-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .living-example {
    background-image: linear-gradient(to top, $grey 461px, #ffffff 461px);
  }

  .living-example__wrapper {
    padding-top: 42px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .living-example__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    padding-top: 11px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}
