.page-footer {
  background-color: $grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-bottom: 22px;
}

.page-footer__logo {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31px;
}

.page-footer__logo[href]:hover,
.page-footer__logo[href]:focus {
  opacity: 0.8;
}

.page-footer__logo[href]:active {
  opacity: 0.6;
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding-top: 55px;
    padding-bottom: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
    width: 162px;
  }
}
