.program-section {
  padding-top: 16px;
  padding-bottom: 32px;
}

.program-section__title {
  margin-bottom: 25px;
}

.program-section__subtitle {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .program-section {
    padding-top: 58px;
    padding-bottom: 72px;
  }

  .program-section__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .program-section__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .program-section {
    padding-top: 75px;
    padding-bottom: 83px;
  }

  .program-section__subtitle {
    padding-left: 0;
    margin-bottom: 65px;
  }
}
