.program-section {
  padding-top: 15px;
  padding-bottom: 32px;
}

.program-section__title {
  margin-bottom: 25px;
}

.program-section__subtitle {
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-section {
    padding-top: 58px;
    padding-bottom: 73px;
  }

  .program-section__title {
    margin-bottom: 56px;
  }

  .program-section__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .program-section {
    padding-top: 75px;
    padding-bottom: 82px;
  }

  .program-section__subtitle {
    padding-left: 0;
  }
}
