.promo__wrapper {
  @include container-mobile();
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to top, transparent 197px, $dark-green 197px);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 26px;
  padding-bottom: 22px;
}

.promo__title {
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}

.promo__subtitle {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-main;
  margin-bottom: 25px;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
}
