.show-all {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.show-all__title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.show-all__subtitle {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-text;
}

.show-all__link {
  color: $grey-dark;
  background-color: $grey;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($grey-dark, 0.3);
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .show-all {
    margin-top: 80px;
    padding: 163px 37px 40px 38px;
    background: none;
    border: 1px solid #cdcdcd;

    &::before,
    &::after {
      top: 54px;
      height: 60px;
      background-color: #e6e6e6;
    }
  }

  .show-all__title {
    margin-bottom: 25px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 20px;
  }

  .show-all__subtitle {
    padding-right: 35px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 20px;
  }

  .show-all__link {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .show-all__title,
  .show-all__subtitle {
    padding: 0;
  }
}
