.site-list {
  @include reset-list();
}

.site-list__link {
  display: block;
  padding: 22px 20px 23px 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark;
  border-bottom: 1px solid $border-color;
}

.site-list__link[href]:hover,
.site-list__link[href]:focus {
  opacity: 0.6;
}

.site-list__link[href]:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 516px;
  }

  .main-nav .site-list__item {
    display: block;
  }

  .site-list__item {
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 6px;
  }

  .site-list__link {
    padding: 8px 0 7px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border: none;
  }

  .site-list__link--active {
    border-bottom: 2px solid $accent-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-left: 34px;

    &:first-child {
      margin-left: 0;
    }
  }

  .site-list__link {
    font-size: 20px;
  }

  .page-header--index .site-list__link {
    color: #ffffff;
  }

  .site-list__link--active {
    padding-bottom: 9px;
  }

  .page-header--index .site-list__link--active {
    border-color: #ffffff;
  }
}
