.social-list {
  @include reset-list();
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
}

.social-list__item {
  margin-left: 13px;
  margin-right: 13px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon {
  fill: #666666;
}

.social-list__icon--vkontakte {
  width: 22px;
  height: 12px;
}

.social-list__icon--instagram {
  width: 16px;
  height: 16px;
}

.social-list__icon--facebook {
  width: 10px;
  height: 19px;
  margin-right: 6px;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    padding: 0;
    border: none;
  }

  .social-list__icon--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social-list__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social-list__icon--facebook {
    width: 14px;
    height: 28px;
    margin-right: 17px;
  }
}
