// Переменные шрифты
$font-main: "Oswald", "Arial", sans-serif;
$font-text: "Arial", sans-serif;
// Переменные color
$border-color: #e6e6e6;
$grey: #f2f2f2;
$grey-dark: #444444;
$dark: #111111;
$dark-green: #63a73a;
$accent-color: #68b738;
// Переменные media
$tablet-width: 768px;
$desktop-width: 1300px;
